---
---
<!-- index.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./assets/css/main.css">
	<link rel="icon" href="./assets/img/logo3.png" type="image/x-icon">
	<title>링크, 하이퍼, 6차 뭐씀?</title>
	<meta name="description" content="메이플스토리 직업별 사냥 링크, 보스 링크, 하이퍼 스킬, 6차 스킬을 일반 월드, 리부트 월드 각각의 통계를 보여줍니다.">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<meta name="google-adsense-account" content="ca-pub-2341434509700379">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2341434509700379" crossorigin="anonymous"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-QZSP50Q20J"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-QZSP50Q20J');
	</script>
</head>
<body>
	<!-- main -->
	<div id="main">
		<div id="main-left"></div>
		<div id="main-center">
			<div id="main-top">
				<img src="./assets/img/logo2.png"></img>
				<div id="page-explanation">
					<div class="page-title">링크, 하이퍼, 6차 뭐씀?</div>
					<ul>
						<li>데이터는 일반 월드, 리부트 월드 각각의 직업별 랭킹 1위 ~ 200위 기준입니다</li>
						<li>['룬 퍼시스턴스', '엘프의 축복'] 둘 중에 하나라도 있으면 사냥 링크로 판단했습니다</li>
						<li>이 외에는 보스 링크로 판단했습니다</li>
					</ul>
				</div>
				<img src="./assets/img/logo2.png" style="visibility: hidden"></img>
			</div>
			<!-- class-box -->
			<div class="class-box">
				<!-- classes -->
				<div class="classes">
					<div class="class-adventurer" onclick="classToggleContent('adventurer')">
						<span>모험가</span>
					</div>
					<div class="class-cygnus" onclick="classToggleContent('cygnus')">
						<span>시그너스</span>
					</div>
					<div class="class-resistance" onclick="classToggleContent('resistance')">
						<span>레지스탕스</span>
					</div>
					<div class="class-heros" onclick="classToggleContent('heros')">
						<span>영웅</span>
					</div>
					<div class="class-nova" onclick="classToggleContent('nova')">
						<span>노바</span>
					</div>
					<div class="class-ref" onclick="classToggleContent('ref')">
						<span>레프</span>
					</div>
					<div class="class-anima" onclick="classToggleContent('anima')">
						<span>아니마</span>
					</div>
					<div class="class-etc" onclick="classToggleContent('etc')">
						<span>제로/키네</span>
					</div>
				</div><!-- classes end -->
				{% include html/adventurerDetailList.html %}
				{% include html/cygnusDetailList.html %}
				{% include html/resistanceDetailList.html %}
				{% include html/herosDetailList.html %}
				{% include html/novaDetailList.html %}
				{% include html/refDetailList.html %}
				{% include html/animaDetailList.html %}
				{% include html/etcDetailList.html %}
			</div><!-- class-box end-->
			<!-- what-box -->
			<div class="what-box">
				<div id="what-link-skill" onclick="whatToggleContent('linkSkill')">
					<span>링크 스킬</span>
				</div>
				<div id="what-hyper-passive-skill" onclick="whatToggleContent('hyperpassiveSkill')">
					<span>하이퍼 패시브 스킬</span>
				</div>
				<div id="what-six-skill" onclick="whatToggleContent('sixSkill')">
					<span>6차 스킬</span>
				</div>
			</div><!-- what-box end -->
			<!-- result-box -->
			<div class="result-box">
				<div id="result-link-skill" style="display: none;">
					<div id="hunt-box">
						<div id="hunt-box-0"><span>일반</span></div>
						<div id="hunt-box-1"><span>리부트</span></div>
					</div>
					<div id="boss-box">
						<div id="boss-box-0"><span>일반</span></div>
						<div id="boss-box-1"><span>리부트</span></div>
					</div>
				</div>
				<div id="result-hyper-passive-skill" style="display: none;">
					<div id="hyper-box">
						<div id="hyper-box-0"></div>
						<div id="hyper-box-1"></div>
					</div>
				</div>
				<div id="result-six-skill" style="display: none;">
					<div id="six-box">
						<div id="six-box-0"></div>
						<div id="six-box-1"></div>
					</div>
				</div>
			</div><!-- result-box end -->
		</div>
		<div id="main-right"></div>
	</div><!-- main end -->
	
	<!-- footer -->
	<div id="footer">
		<div id="connect">
			<img src="./assets/img/mail.png"></img>
			<span>mapledataconnect@gmail.com</span>
		</div>
		<div id="nexon">
			<span>Data based on NEXON Open API</span>
		</div>
		<div id="copyright">
			<span>© 2024. atomic0x90 All rights reserved.</span>
		</div>
	</div><!-- footer end -->

<script>
{% include js/classToggleContent.js %}
{% include js/handleClassImgClick.js %}
{% include js/whatToggleContent.js %}
{% include js/classChangeKorean.js %}
{% include js/readResultFile.js %}
{% include js/resultDisplayState.js %}
{% include js/resultDataProcess.js %}
</script>

</body>

</html>

