---
---
<!-- index.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./assets/css/main.css">
	<title>Open API</title>
</head>
<body>
	<!-- main -->
	<div id="main">
		<!-- class-box -->
		<div class="class-box">
			<!-- classes -->
			<div class="classes">
				<details>
					<summary class="class-adventurer">모험가</summary>
					<span>
						{% include html/adventurerDetailList.html %}
					</span>
				</details>
				<details>
					<summary class="class-cygnus">시그너스</summary>
					<span>
						{% include html/cygnusDetailList.html %}
					</span>
				</details>
				<details>
					<summary class="class-resistance">레지스탕스</summary>
					<span>
						{% include html/resistanceDetailList.html %}
					</span>
				</details>
				<details>
					<summary class="class-heros">히어로</summary>
					<span>
						{% include html/herosDetailList.html %}
					</span>
				</details>
				<details>
					<summary class="class-nova">노바</summary>
					<span>
						{% include html/novaDetailList.html %}
					</span>
				</details>
				<details>
					<summary class="class-ref">레프</summary>
					<span>
						{% include html/refDetailList.html %}
					</span>
				</details>
				<details>
					<summary class="class-anima">아니마</summary>
					<span>
						{% include html/animaDetailList.html %}
					</span>
				</details>
				<details>
					<summary class="class-etc">키네/제로</summary>
					<span>
						{% include html/etcDetailList.html %}
					</span>
				</details>
			</div><!-- classes end -->
		</div><!-- class-box end-->
	</div><!-- main end -->
	
	<!-- footer -->
	<div id="footer">
		<span>Data based on NEXON Open API</span>
		<p>
		<span>Copyright © 2024 atomic0x90</span>
	</div><!-- footer end -->

</body>

</html>

