<!-- class-adventurer-detail-list -->
<ul class="class-adventurer-detail-list">
	<li>
		<div class="class-img-hero">hero</div>
	</li>
	<li>
		<div class="class-img-paladin"></div>
	</li>
	<li>
		<div class="class-img-dark-knight"></div>
	</li>
	<li>
		<div class="class-img-arch-mage-fire-poison"></div>
	</li>
	<li>
		<div class="class-img-arch-mage-ice-lightning"></div>
	</li>
	<li>
		<div class="class-img-bishop"></div>
	</li>
	<li>
		<div class="class-img-bow-master"></div>
	</li>
	<li>
		<div class="class-img-marksman"></div>
	</li>
	<li>
		<div class="class-img-pathfinder"></div>
	</li>
	<li>
		<div class="class-img-night-lord"></div>
	</li>
	<li>
		<div class="class-img-shadower"></div>
	</li>
	<li>
		<div class="class-img-dual-blade"></div>
	</li>
	<li>
		<div class="class-img-viper"></div>
	</li>
	<li>
		<div class="class-img-captain"></div>
	</li>
	<li>
		<div class="class-img-cannon-shooter"></div>
	</li>
</ul><!-- class-adventurer-detail-list end -->
