<!-- class-adventurer-detail-list -->
<ul class="class-adventurer-detail-list">
	<li class="detail-list-hero">
		<div class="class-img-hero" onclick="handleClassImgClick('hero')"></div>
	</li>
	<li class="detail-list-paladin">
		<div class="class-img-paladin" onclick="handleClassImgClick('paladin')"></div>
	</li>
	<li class="detail-list-dark-knight">
		<div class="class-img-dark-knight" onclick="handleClassImgClick('dark-knight')"></div>
	</li>
	<li class="detail-list-arch-mage-fire-poison">
		<div class="class-img-arch-mage-fire-poison" onclick="handleClassImgClick('arch-mage-fire-poison')"></div>
	</li>
	<li class="detail-list-arch-mage-ice-lightning">
		<div class="class-img-arch-mage-ice-lightning" onclick="handleClassImgClick('arch-mage-ice-lightning')"></div>
	</li>
	<li class="detail-list-bishop">
		<div class="class-img-bishop" onclick="handleClassImgClick('bishop')"></div>
	</li>
	<li class="detail-list-bow-master">
		<div class="class-img-bow-master" onclick="handleClassImgClick('bow-master')"></div>
	</li>
	<li class="detail-list-marksman">
		<div class="class-img-marksman" onclick="handleClassImgClick('marksman')"></div>
	</li>
	<li class="detail-list-pathfinder">
		<div class="class-img-pathfinder" onclick="handleClassImgClick('pathfinder')"></div>
	</li>
	<li class="detail-list-night-lord">
		<div class="class-img-night-lord" onclick="handleClassImgClick('night-lord')"></div>
	</li>
	<li class="detail-list-shadower">
		<div class="class-img-shadower" onclick="handleClassImgClick('shadower')"></div>
	</li>
	<li class="detail-list-dual-blade">
		<div class="class-img-dual-blade" onclick="handleClassImgClick('dual-blade')"></div>
	</li>
	<li class="detail-list-viper">
		<div class="class-img-viper" onclick="handleClassImgClick('viper')"></div>
	</li>
	<li class="detail-list-captain">
		<div class="class-img-captain" onclick="handleClassImgClick('captain')"></div>
	</li>
	<li class="detail-list-cannon-shooter">
		<div class="class-img-cannon-shooter" onclick="handleClassImgClick('cannon-shooter')"></div>
	</li>
</ul><!-- class-adventurer-detail-list end -->
