<!-- class-cygnus-detail-list -->
<ul class="class-cygnus-detail-list" style="display: none;">
	<li class="detail-list-soul-master">
		<div class="class-img-soul-master" onclick="handleClassImgClick('soul-master')"></div>
	</li>
	<li class="detail-list-flame-wizard">
		<div class="class-img-flame-wizard" onclick="handleClassImgClick('flame-wizard')"></div>
	</li>
	<li class="detail-list-wind-breaker">
		<div class="class-img-wind-breaker" onclick="handleClassImgClick('wind-breaker')"></div>
	</li>
	<li class="detail-list-night-walker">
		<div class="class-img-night-walker" onclick="handleClassImgClick('night-walker')"></div>
	</li>
	<li class="detail-list-striker">
		<div class="class-img-striker" onclick="handleClassImgClick('striker')"></div>
	</li>
	<li class="detail-list-mihile">
		<div class="class-img-mihile" onclick="handleClassImgClick('mihile')"></div>
	</li>
</ul><!-- class-cygnus-detail-list end -->
