<!-- class-heros-detail-list -->
<ul class="class-heros-detail-list" style="display: none;">
	<li class="detail-list-mercedes">
		<div class="class-img-mercedes" onclick="handleClassImgClick('mercedes')"></div>
	</li>
	<li class="detail-list-aran">
		<div class="class-img-aran" onclick="handleClassImgClick('aran')"></div>
	</li>
	<li class="detail-list-phantom">
		<div class="class-img-phantom" onclick="handleClassImgClick('phantom')"></div>
	</li>
	<li class="detail-list-luminous">
		<div class="class-img-luminous" onclick="handleClassImgClick('luminous')"></div>
	</li>
	<li class="detail-list-evan">
		<div class="class-img-evan" onclick="handleClassImgClick('evan')"></div>
	</li>
	<li class="detail-list-eunwol">
		<div class="class-img-eunwol" onclick="handleClassImgClick('eunwol')"></div>
	</li>
</ul><!-- class-heros-detail-list end -->
