<!-- class-nova-detail-list -->
<ul class="class-nova-detail-list">
	<li class="detail-list-kaiser">
		<div class="class-img-kaiser" onclick="handleClassImgClick('kaiser')"></div>
	</li>
	<li class="detail-list-kaine">
		<div class="class-img-kaine" onclick="handleClassImgClick('kaine')"></div>
	</li>
	<li class="detail-list-cadena">
		<div class="class-img-cadena" onclick="handleClassImgClick('cadena')"></div>
	</li>
	<li class="detail-list-angelic-buster">
		<div class="class-img-angelic-buster" onclick="handleClassImgClick('angelic-buster')"></div>
	</li>
</ul><!-- class-nova-detail-list end -->
