<!-- class-ref-detail-list -->
<ul class="class-ref-detail-list" style="display: none;">
	<li class="detail-list-adele">
		<div class="class-img-adele" onclick="handleClassImgClick('adele')"></div>
	</li>
	<li class="detail-list-illium">
		<div class="class-img-illium" onclick="handleClassImgClick('illium')"></div>
	</li>
	<li class="detail-list-khali">
		<div class="class-img-khali" onclick="handleClassImgClick('khali')"></div>
	</li>
	<li class="detail-list-ark">
		<div class="class-img-ark" onclick="handleClassImgClick('ark')"></div>
	</li>
</ul><!-- class-ref-detail-list end -->
