<!-- class-resistance-detail-list -->
<ul class="class-resistance-detail-list">
	<li class="detail-list-blaster">
		<div class="class-img-blaster" onclick="handleClassImgClick('blaster')"></div>
	</li>
	<li class="detail-list-battle-mage">
		<div class="class-img-battle-mage" onclick="handleClassImgClick('battle-mage')"></div>
	</li>
	<li class="detail-list-wild-hunter">
		<div class="class-img-wild-hunter" onclick="handleClassImgClick('wild-hunter')"></div>
	</li>
	<li class="detail-list-mechanic">
		<div class="class-img-mechanic" onclick="handleClassImgClick('mechanic')"></div>
	</li>
	<li class="detail-list-xenon">
		<div class="class-img-xenon" onclick="handleClassImgClick('xenon')"></div>
	</li>
	<li class="detail-list-demon-slayer">
		<div class="class-img-demon-slayer" onclick="handleClassImgClick('demon-slayer')"></div>
	</li>
	<li class="detail-list-demon-avenger">
		<div class="class-img-demon-avenger" onclick="handleClassImgClick('demon-avenger')"></div>
	</li>
</ul><!-- class-resistance-detail-list end -->

